!!! 5
html(lang='en')
  head
    title='irksum' + ' | ' + title
    link(rel='icon', type='image/png', href='/images/origami_unicorn.png')
    
    //CSS reset
    link(rel='stylesheet', type='text/css', href='http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css')
    
    //Twitter Bootstrap
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')

    link(rel='stylesheet', type='text/css', href='/javascripts/google-code-prettify/prettify.css')

    //Stylesheets
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/buttons.css')

    //google fonts
    link(href='http://fonts.googleapis.com/css?family=Lobster',
      rel='stylesheet', 
      type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cabin',
      rel='stylesheet', 
      type='text/css')

    //google-analytics
    script
       var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33499534-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    #global-container
      #header
        #title
          h1 
            a#title(href='./') irksum
        #navbar
          ul
            li
              a.scroll.buttons.blackstar(href='#home') Home 
            li
              a.scroll.buttons.play(href='#games') Games 
            li
              a.scroll.buttons.umbrella(href='#projects') Projects
            li
              a.scroll.buttons.cloud(href='#about') About
            li
      #content
        block content

      #footer
        p &copy Nicholas Rempel

      //scripts load last
      script(type='text/javascript', src='/javascripts/jquery.min.js')
      script(type='text/javascript', src='/javascripts/jquery.easing.1.3.js')
      script(type='text/javascript', src='/javascripts/google-code-prettify/prettify.js')
      script(type='text/javascript', src='/javascripts/smooth-scroll.js')